[Unit]
Description=Run DevOps Prometheus SSL updater (1h)

[Timer]
OnCalendar=*-*-* *:00:00
Persistent=true
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
