[Unit]
Description=DevOps Blackbox SSL updater timer (1h)

[Timer]
OnCalendar=*-*-* *:00:00
Persistent=true
RandomizedDelaySec=1m

[Install]
WantedBy=timers.target
